@{
       
    Layout = null;
    Layout = "~/Views/Home/Menu1.cshtml";
}
 
    <div class="span3" >
       <img src="~/Content/themes/anim5.gif" width="100" height="100" alt="smile" />
    </div>   
        <div class="span6">
            <h2>Contact US</h2>
            <div class="bs-example">
                <form  method="post" action="/Home/query">
    <table class="table table-striped">
        
            <tr>
             <td>Email ID: </td>
                <td><input type="text" name="email" /></td>
            </tr>

         <tr>
             <td>Query: </td>
                <td><textarea name="query"></textarea>
            </tr>

     
        <tr>
            <td>

                <button type="submit" class="btn btn-info" style="margin-left:100px"> Submit </button>
            </td>

        </tr>
    </table>
                    </form>
</div>


        </div>

   
  
   
